<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  
<div class="container_form">
  <!-- <h1>Sony AI Life Insurance Agent</h1> -->
  <h1>FaceChat</h1>
  <br>
  <form action="/login" method="post">
    <input type="text" title="name" placeholder="name" name="name" required/>
    <button id="login_button" type="submit" class="btn">Login</button>
  </form>
  <br>
  <span color="red"> {{msg}} </span>
</div>

<img id = "login_img" src="https://raw.githubusercontent.com/deema-A/temp/main/avatar.png">

</body>
</html>
